@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    
    transition: all 0.5s ease-in-out;
    font-family: "Poppins", sans-serif;
    color: rgb(38, 38, 38);
    font-weight: 500;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    align-items: stretch;

}

.box {
    padding: 10px;
}

.small-box {
    min-height: 150px;
    min-width: 250px;
    flex-grow: 1;
    background-color: blue;
}

.long-box {
    min-height: 150px;
    min-width: 500px;
    flex-grow: 4;
    background-color: blueviolet;
}

.large-box {
    min-height: 500px;
    min-width: 410px;
    flex-grow: 2;
    background-color: aquamarine;
}

.pill {
    height: 100%;
    width: 100%;
    border: solid 12px rgb( 38, 38, 38);
    box-sizing: border-box;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-container {
    position: relative;
    min-height: 500px;
    width: 150px;
}

.input-container {
    position: absolute;
    bottom: 50px;
    left: 105px;
    transform: rotate(-90deg);
    transform-origin: bottom left;
    z-index: 2;
}

.slider-container input {
    -webkit-appearance: none;
    width: 420px;
    height: 20px;
    background: rgba(18, 9, 9, 0.6);
    border-radius: 5px;
}

.slider-container input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(250, 250, 250);
    border: rgb(38, 38, 38) solid 14px;
    cursor: grab;
    z-index: 3;
}